:root {
  --white: rgb(184, 230, 212);
  --blue: #087aa0;
  --green: #10847a;
  --black: #3a3a3a;
  --dark: #00222266;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--white);
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 10px;
  background: linear-gradient(var(--green), var(--blue));
  z-index: 100;
  box-shadow: 0px 5px 5px var(--dark);
}

.title {
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 3px 3px 3px var(--black);
  font-size: 24px;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;

}

.select_text {
  font-weight: bold;
  color: var(--white);
  font-size: 16px;
  transition: all 0.4s linear;
}

.select_text:hover {
  text-shadow: 3px 3px 3px var(--black);
}

#selectAll {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#downloadBtn {
  color: #ffffff;
  background: linear-gradient(var(--blue), var(--green));
  border-width: 0px;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
  font-size: 16px;
  text-shadow: 2px 2px 2px var(--black);
  transition: all 0.4s linear;
}

#downloadBtn:hover {
  background: linear-gradient(var(--green), var(--blue));
  box-shadow: 2px 2px var(--black);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 70px;
}

.imageDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: linear-gradient(var(--blue), var(--green));
  box-shadow: 5px 5px 5px var(--dark);
  border: 1px solid var(--white);
  transition: all 0.4s linear;
}

.imageDiv:hover {
  background: linear-gradient(var(--green), var(--blue));
  box-shadow: 10px 10px 10px var(--dark);
  cursor: pointer;
}

.imageDiv img {
  max-width: 100%;
  max-height: 100%;
}

.imageDiv input {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.selected {
  border: 1px solid #ff0000;
}