:root {
  --white: rgb(184, 230, 212);
  --blue: #087aa0;
  --green: #10847a;
  --black: #3a3a3a;
}

body {
  text-align: center;
  width: 200px;
  text-shadow: 2px 2px var(--white);
  border-radius: 15px;

}

button {
  width: 100%;
  color: var(--white);
  background: linear-gradient(var(--blue), var(--green));
  border-width: 0px;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s linear;
}

button:hover {
  background: linear-gradient(var(--green), var(--blue));
  box-shadow: 0px 0px var(--black);
  color: white;
}